<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Password Manager</title>
<script type='text/javascript' src="/static/gen-pass-form.js"></script>
</head>

<body>

<div class="modal-inner"　class="modal-wrap a-center">

<p>
<a >ユーザ名</a><br>
<input type="text" name="example1" value="" size="30" id="username"><br>

<a >パスワードに必ず含む文字</a><br>
<input type="checkbox" name="example5" value="val1" checked="checked" id="Upper">大文字　<input type="checkbox" name="example5" value="val2" id="Lower">小文字　<input type="checkbox" name="example5" value="val3" id="Symbol">記号　<input type="checkbox" name="example5" value="val4" id="Number">数字<br>

<a >文字数</a><br>
<input type="text" name="example1" value="16" size="5" id="max">文字以下<br>
<a >ボタン</a>
<br>
<input type="button" value="登録" onClick="post_pass_data()">
</div>
</body>

</html>
